<!DOCTYPE html>
<html>
<head>
    <title>Employee Information</title>
</head>
<body>
    <h1>Employee Information</h1>
    <div>
        Employee ID:<br> {{ id }} <br>
        First Name:<br> {{ fname }} <br>
        Last Name:<br> {{ lname }} <br>
        Primary Interest:<br> {{ interest }} <br>
        Location:<br> {{ location }} <br>
        Image URL: <br> {{ image_url }} <br>
        <form action="/getemp" method="GET">
            <button type="submit">RESET</button><br><br>
        </form>
    </div>
</body>
</html>

